@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello World!</p>
</div>
<a href="C:\Users\ematthew\source\repos\test-deployment\test-deployment\Views\Home\Index.cshtml">C:\Users\ematthew\source\repos\test-deployment\test-deployment\Views\Home\Index.cshtml</a>